In [1]:
import pandas as pd

In [2]:
vehicules = pd.read_csv('data/Vehicles_Combined.csv')
engines = pd.read_csv('data/Engines_Combined.csv')
propellers = pd.read_csv('data/t_Propellers_v1.4.1_NOT READY for Import.csv')

/home/chuck/.cache/pypoetry/virtualenvs/wrap-project-50V7Vr4D-py3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (3,8,11,13,14,16,17,20,31,40,41,42,43) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

### Shape to know how many rows and columns. Shape is an attribute, not a method

In [3]:
propellers.shape

(49578, 51)

### To get more info, use the info() method. You can see total rows, columns and the data type for each column

In [4]:
propellers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49578 entries, 0 to 49577
Data columns (total 51 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   name                                           49576 non-null  object
 1   product_id                                     49576 non-null  object
 2   Old_Serial                                     1185 non-null   object
 3   New_Serial                                     842 non-null    object
 4   Hub_Serial                                     1276 non-null   object
 5   Status                                         49575 non-null  object
 6   Do Not Import                                  49411 non-null  object
 7   Hub Model                                      49576 non-null  object
 8   Blade Count                                    49576 non-null  object
 9   Blade Model                                    49576 non-null  object
 10  Bld_Dia                                        49413 non-null  float64
 11  Taper                                          49576 non-null  object
 12  Rotation                                       49416 non-null  object
 13  Taper_Specs                                    10881 non-null  object
 14  Nickel LE                                      49576 non-null  object
 15  Tip_Color                                      1097 non-null   object
 16  Weight_Start                                   46095 non-null  object
 17  Weight_End                                     35098 non-null  object
 18  Weight_Vert                                    46088 non-null  object
 19  Weight_TaperBefore                             10660 non-null  object
 20  Weight_TaperAfter                              10831 non-null  object
 21  Tracking                                       20895 non-null  object
 22  Bld_Notes                                      14569 non-null  object
 23  Pinned Collars                                 0 non-null      float64
 24  Customer_ID                                    49264 non-null  float64
 25  Customer_Notes                                 924 non-null    object
 26  Vehicle_ID                                     48270 non-null  object
 27  Vehicle_Notes                                  3036 non-null   object
 28  Engine_ID                                      48171 non-null  object
 29  Engine_Notes                                   13605 non-null  object
 30  Bolt_Pattern                                   38310 non-null  object
 31  Bolt Pattern Notes (New Field)                 6 non-null      object
 32  Reduction_Ratio (Rename to Red... Drive Name)  30209 non-null  object
 33  Reduction Style                                0 non-null      float64
 34  Update_1_Date                                  4018 non-null   object
 35  Update_1                                       4027 non-null   object
 36  Update_2_Date                                  610 non-null    object
 37  Update_2                                       611 non-null    object
 38  Update_3_Date                                  113 non-null    object
 39  Update_3                                       114 non-null    object
 40  Update_4_Date                                  16 non-null     object
 41  Update_4                                       16 non-null     object
 42  Update_5_Date                                  3 non-null      object
 43  Update_5                                       3 non-null      object
 44  x_studio_ship_date                             49183 non-null  object
 45  OLD_NOTES                                      39117 non-null  object
 46  Old_BldSpecs                                   38549 non-null  object
 47  Old_BldNum                                     39976 non-null  float64
 48  Old_BldType                                    39971 non-null  object
 49  Old_Hub                                        30382 non-null  object
 50  Unnamed: 50                                    0 non-null      float64
dtypes: float64(6), object(45)
memory usage: 19.3+ MB

In [5]:
propellers.columns

Index(['name', 'product_id', 'Old_Serial', 'New_Serial', 'Hub_Serial',
       'Status', 'Do Not Import', 'Hub Model', 'Blade Count', 'Blade Model',
       'Bld_Dia', 'Taper', 'Rotation', 'Taper_Specs', 'Nickel LE', 'Tip_Color',
       'Weight_Start', 'Weight_End', 'Weight_Vert', 'Weight_TaperBefore',
       'Weight_TaperAfter', 'Tracking', 'Bld_Notes', 'Pinned Collars',
       'Customer_ID', 'Customer_Notes', 'Vehicle_ID', 'Vehicle_Notes',
       'Engine_ID', 'Engine_Notes', 'Bolt_Pattern',
       'Bolt Pattern Notes (New Field)',
       'Reduction_Ratio (Rename to Red... Drive Name)', 'Reduction Style',
       'Update_1_Date', 'Update_1', 'Update_2_Date', 'Update_2',
       'Update_3_Date', 'Update_3', 'Update_4_Date', 'Update_4',
       'Update_5_Date', 'Update_5', 'x_studio_ship_date', 'OLD_NOTES',
       'Old_BldSpecs', 'Old_BldNum', 'Old_BldType', 'Old_Hub', 'Unnamed: 50'],
      dtype='object')

In [6]:
propellers['Engine_ID'].value_counts().head(20)

R912S/ULS/ULSFR (100HP)    9819
R582                       8395
R912A/F/UL (80HP)          5430
R503                       5250
Subaru EA81                2132
L-O540                     1684
un-Auto                    1438
R532                       1260
R447                        727
L-O320                      716
C-O470                      660
Subaru EJ22                 643
C-O200                      510
Chevrolet 454               490
R914 Turbo                  489
Chevrolet 350               459
R618                        431
Corvair                     429
Subaru EJ25                 419
J-2200                      389
Name: Engine_ID, dtype: int64

### Look for specific rows (0 and 1) in this example, and display the columns name, Engine_ID, and Vehicle_ID

In [7]:
propellers.loc[[0,1], ['name', 'Engine_ID', 'Vehicle_ID']]

    name Engine_ID        Vehicle_ID
0  T5770       NaN               NaN
1   0130      R532  Avid Flyer Mk IV

### To set indexes as name, not as integers

In [8]:
propellers.set_index('name', inplace=True)

In [9]:
propellers

,product_id,Old_Serial,New_Serial,Hub_Serial,Status,Do Not Import,Hub Model,Blade Count,Blade Model,Bld_Dia,...,Update_4,Update_5_Date,Update_5,x_studio_ship_date,OLD_NOTES,Old_BldSpecs,Old_BldNum,Old_BldType,Old_Hub,Unnamed: 50
name,,,,,,,,,,,,,,,,,,,,,
T5770,Legacy Propeller,NaN,NaN,NaN,Inactive,NaN,Unknown,Unknown,Unknown,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0130,Legacy Propeller,NaN,NaN,NaN,Active,c03SDC,Standard,3,C,68.0,...,NaN,NaN,NaN,7/8/1988,NaN,NaN,NaN,NaN,NaN,NaN
0131,Legacy Propeller,NaN,NaN,NaN,Active,c03SDC,Standard,3,C,64.0,...,NaN,NaN,NaN,7/8/1988,NaN,NaN,NaN,NaN,NaN,NaN
0132,Legacy Propeller,NaN,NaN,NaN,Active,c03SDC,Standard,3,C,68.0,...,NaN,NaN,NaN,7/8/1988,NaN,NaN,NaN,NaN,NaN,NaN
0133,Legacy Propeller,NaN,NaN,NaN,Active,c03SDC,Standard,3,C,64.0,...,NaN,NaN,NaN,7/8/1988,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
T9997,Legacy Propeller,NaN,NaN,NaN,Active,c03HLC,HPL,3.0,C,68.0,...,NaN,NaN,NaN,10/28/2002,ICARUS C42 TRACTOR_R912_914_#6 TOP 1.5 TIP_,RWT,3.0,CF,HPL,NaN
T9998,Legacy Propeller,NaN,NaN,NaN,Active,c03HLC,HPL,3.0,C,68.0,...,NaN,NaN,NaN,10/28/2002,ICARUS C42 TRACTOR_R912_914_#6 TOP 1.5 TIP_,RWT,3.0,CF,HPL,NaN
T9999,Legacy Propeller,NaN,NaN,NaN,Active,c03HLC,HPL,3.0,C,68.0,...,NaN,NaN,NaN,10/28/2002,ICARUS C42 TRACTOR_R912_914_#6 TOP 1.5 TIP_,RWT,3.0,CF,HPL,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
propellers.loc['0130']

product_id                                          Legacy Propeller
Old_Serial                                                       NaN
New_Serial                                                       NaN
Hub_Serial                                                       NaN
Status                                                        Active
Do Not Import                                                 c03SDC
Hub Model                                                   Standard
Blade Count                                                        3
Blade Model                                                        C
Bld_Dia                                                         68.0
Taper                                                          False
Rotation                                                        Left
Taper_Specs                                                      NaN
Nickel LE                                                       True
Tip_Color                                                        NaN
Weight_Start                                                     NaN
Weight_End                                                       NaN
Weight_Vert                                                      NaN
Weight_TaperBefore                                               NaN
Weight_TaperAfter                                                NaN
Tracking                                                         NaN
Bld_Notes                                                         I2
Pinned Collars                                                   NaN
Customer_ID                                                   9149.0
Customer_Notes                                                   NaN
Vehicle_ID                                          Avid Flyer Mk IV
Vehicle_Notes                                                    NaN
Engine_ID                                                       R532
Engine_Notes                                                     NaN
Bolt_Pattern                                                   Rotax
Bolt Pattern Notes (New Field)                                   NaN
Reduction_Ratio (Rename to Red... Drive Name)    2.58:1 Gear_Rotax B
Reduction Style                                                  NaN
Update_1_Date                                                    NaN
Update_1                                                         NaN
Update_2_Date                                                    NaN
Update_2                                                         NaN
Update_3_Date                                                    NaN
Update_3                                                         NaN
Update_4_Date                                                    NaN
Update_4                                                         NaN
Update_5_Date                                                    NaN
Update_5                                                         NaN
x_studio_ship_date                                          7/8/1988
OLD_NOTES                                                        NaN
Old_BldSpecs                                                     NaN
Old_BldNum                                                       NaN
Old_BldType                                                      NaN
Old_Hub                                                          NaN
Unnamed: 50                                                      NaN
Name: 0130, dtype: object

### To reset the indexes to default use df.reset_index(inplace= True)

In [10]:
propellers.reset_index(inplace=True)

In [11]:
propellers

,name,product_id,Old_Serial,New_Serial,Hub_Serial,Status,Do Not Import,Hub Model,Blade Count,Blade Model,...,Update_4,Update_5_Date,Update_5,x_studio_ship_date,OLD_NOTES,Old_BldSpecs,Old_BldNum,Old_BldType,Old_Hub,Unnamed: 50
0,T5770,Legacy Propeller,NaN,NaN,NaN,Inactive,NaN,Unknown,Unknown,Unknown,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0130,Legacy Propeller,NaN,NaN,NaN,Active,c03SDC,Standard,3,C,...,NaN,NaN,NaN,7/8/1988,NaN,NaN,NaN,NaN,NaN,NaN
2,0131,Legacy Propeller,NaN,NaN,NaN,Active,c03SDC,Standard,3,C,...,NaN,NaN,NaN,7/8/1988,NaN,NaN,NaN,NaN,NaN,NaN
3,0132,Legacy Propeller,NaN,NaN,NaN,Active,c03SDC,Standard,3,C,...,NaN,NaN,NaN,7/8/1988,NaN,NaN,NaN,NaN,NaN,NaN
4,0133,Legacy Propeller,NaN,NaN,NaN,Active,c03SDC,Standard,3,C,...,NaN,NaN,NaN,7/8/1988,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49573,T9997,Legacy Propeller,NaN,NaN,NaN,Active,c03HLC,HPL,3.0,C,...,NaN,NaN,NaN,10/28/2002,ICARUS C42 TRACTOR_R912_914_#6 TOP 1.5 TIP_,RWT,3.0,CF,HPL,NaN
49574,T9998,Legacy Propeller,NaN,NaN,NaN,Active,c03HLC,HPL,3.0,C,...,NaN,NaN,NaN,10/28/2002,ICARUS C42 TRACTOR_R912_914_#6 TOP 1.5 TIP_,RWT,3.0,CF,HPL,NaN
49575,T9999,Legacy Propeller,NaN,NaN,NaN,Active,c03HLC,HPL,3.0,C,...,NaN,NaN,NaN,10/28/2002,ICARUS C42 TRACTOR_R912_914_#6 TOP 1.5 TIP_,RWT,3.0,CF,HPL,NaN
49576,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49577,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### to filter you can assign what you are looking for to a var, and then filter the dataframe with that var

#### for example: 
``` engine = df['Engine_ID'] == 'R532 
    df[engine]
```

#### that can be done in 1 line too
```
    df[df['Engine_ID'] == 'R532']
```

In [12]:
engine_r532 = propellers['Engine_ID'] == 'R532'

In [44]:
propellers[engine_r532]

,name,index,product_id,Old_Serial,New_Serial,Hub_Serial,Status,Do Not Import,Hub Model,Blade Count,...,Update_4,Update_5_Date,Update_5,x_studio_ship_date,OLD_NOTES,Old_BldSpecs,Old_BldNum,Old_BldType,Old_Hub,Unnamed: 50
1,0130,1,Legacy Propeller,NaN,NaN,NaN,Active,c03SDC,Standard,3,...,NaN,NaN,NaN,7/8/1988,NaN,NaN,NaN,NaN,NaN,NaN
3,0132,3,Legacy Propeller,NaN,NaN,NaN,Active,c03SDC,Standard,3,...,NaN,NaN,NaN,7/8/1988,NaN,NaN,NaN,NaN,NaN,NaN
6,0135,6,Legacy Propeller,NaN,NaN,NaN,Active,c03SDC,Standard,3,...,NaN,NaN,NaN,7/8/1988,NaN,NaN,NaN,NaN,NaN,NaN
7,0136,7,Legacy Propeller,NaN,NaN,NaN,Active,c03SDC,Standard,3,...,NaN,NaN,NaN,7/11/1988,NaN,NaN,NaN,NaN,NaN,NaN
8,0137,8,Legacy Propeller,NaN,NaN,NaN,Active,c03SDC,Standard,3,...,NaN,NaN,NaN,7/11/1988,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48478,T8890,48478,Legacy Propeller,C8213,NaN,NaN,Active,c02C,Unknown,2,...,NaN,NaN,NaN,4/3/2000,KITFOX I TRACTOR_R532 GBOX 2.58:1__#4 TOP 1....,LT,2.0,CF,NaN,NaN
48569,T8982,48569,Legacy Propeller,NaN,NaN,NaN,Active,c03C,Unknown,3,...,NaN,NaN,NaN,6/12/2000,RANS S-9 CHAOS TRACTOR_R532 GBOX__#2 TOOP 1.5...,LT,3.0,CF,NaN,NaN
48588,T9002,48588,Legacy Propeller,NaN,NaN,NaN,Active,c02HLC,HPL,2,...,NaN,NaN,NaN,7/11/2000,KITFOX II TRACTOR_R532 GBOX 2.58:1_ROTAX_4' ...,LT,2.0,CF,HPL,NaN
49000,T9420,49000,Legacy Propeller,NaN,NaN,NaN,Active,c02C,Unknown,2,...,NaN,NaN,NaN,5/16/2001,SPECIAL II TRACTOR_R532 GBOX 2.58:1__#4 TOP ...,LT,2.0,CF,NaN,NaN
49332,T9756,49332,Legacy Propeller,NaN,NaN,NaN,Destroyed,c02HLC,HPL,2.0,...,NaN,NaN,NaN,3/25/2002,RANS S-10 SAKOTA TRACTOR_R532 GBOX 2.58:1_RO...,LT,2.0,CF,HPL,NaN

In [13]:
propellers.loc[engine_r532, ['name', 'Engine_ID', 'Vehicle_ID']]

        name Engine_ID           Vehicle_ID
1       0130      R532     Avid Flyer Mk IV
3       0132      R532            Tierra II
6       0135      R532            Tierra II
7       0136      R532   un-Airplane-Pusher
8       0137      R532   un-Airplane-Pusher
...      ...       ...                  ...
48478  T8890      R532             Kitfox 1
48569  T8982      R532       Rans S-9 Chaos
48588  T9002      R532             Kitfox 2
49000  T9420      R532  un-Airplane-Tractor
49332  T9756      R532     Rans S-10 Sakota

[1260 rows x 3 columns]

In [14]:
info = (propellers['Engine_ID'] == 'R532') & (propellers['Vehicle_ID'] == 'Tierra II')

In [15]:
propellers.loc[info, ['name']].head(25)

      name
3     0132
6     0135
12   0141S
13   0142S
17   0198S
50   1151S
51   1152S
53    1154
72   1173S
82   1183S
83    1185
84    1186
93    1195
94    1196
95    1197
99   1203S
100  1204S
107  1213S
120    124
128    125
143   1264
157  1279S
158  1280S
166  1289S
168  1291S

### to filter by the opposite (example: name is not '0130') add a tilda ~ in frint
```
    propellers.loc[~info, ['name']].head(25)
```