In [14]:
import pandas as pd

In [39]:
propellers = pd.read_csv('data/all_info_test_data.csv')

/home/chuck/.cache/pypoetry/virtualenvs/wrap-project-50V7Vr4D-py3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (4,13,16,19,20,23,31,33,40,41,42,43,47,50) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [48]:
propellers['Blade Count'].value_counts()
propellers.desc

        Blade Count       Bld_Dia   Customer_ID
count  49411.000000  49413.000000  49263.000000
mean       3.263828     67.486439   8693.900087
std        1.221069      5.324153   5135.153215
min        1.000000     23.000000      1.000000
25%        3.000000     66.000000   4037.000000
50%        3.000000     68.000000   8693.000000
75%        3.000000     70.000000  12524.000000
max       12.000000     92.000000  20941.000000

In [41]:
propellers['Bld_Dia'].value_counts().head(15)

68.0    15870
72.0     7776
70.0     6443
66.0     4132
60.0     3908
62.0     2545
64.0     2430
80.0     2098
58.0      562
54.0      496
63.0      411
67.0      400
52.0      400
71.0      361
56.0      244
Name: Bld_Dia, dtype: int64

### Declare Variables

In [42]:
engine = 'R532'
vehicle = 'Tierra II'
red_ratio = '2.58:1 Gear_Rotax B'

In [43]:
filtered_df = (propellers['Engine_ID'] == 'R532') & (propellers['Vehicle_ID'] == 'Tierra II') & (propellers['Reduction_Ratio (Rename to Red... Drive Name)'] == '2.58:1 Gear_Rotax B')

In [44]:
results = propellers.loc[filtered_df]

In [45]:
results['Blade Count'].value_counts()

3.0    67
2.0    11
Name: Blade Count, dtype: int64

In [47]:
results.describe()

       Blade Count    Bld_Dia   Customer_ID
count    78.000000  78.000000     78.000000
mean      2.858974  67.384615   7175.333333
std       0.350301   1.522394   4575.971774
min       2.000000  64.000000    367.000000
25%       3.000000  66.000000   3914.000000
50%       3.000000  68.000000   6072.000000
75%       3.000000  68.000000  10272.250000
max       3.000000  72.000000  18967.000000